//Collapsing/Expanding Example code
/* Optional styling to make it look better */
// .content-box {
//   padding: 10px;
//   margin-top: 10px;
//   border: 1px solid #ccc;
//   background-color: #f9f9f9;
// }

//Pagination Code
.pagination-container {
  max-width: 300px;
  margin: 20px auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
