<!-- Collapsing/Exapnding -->
<!-- Button to toggle the content -->
<!-- <button (click)="toggleContent()">
  {{ isCollapsed ? 'Expand' : 'Collapse' }} Content
</button> -->

<!-- Content that will collapse/expand -->
<!-- <div *ngIf="!isCollapsed" class="content-box">
  <p>This is some content that can be collapsed or expanded!</p>
</div> -->

<div class="pagination-container">
  <ul>
    <li *ngFor="let item of paginatedItems">{{ item }}</li>
  </ul>

  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages() }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages()">
      Next
    </button>
  </div>
</div>
